<!-- Clinic Info & Details -->
<div class="col-lg-6 col-lg-offset-3 centered">
  <h1 style="margin-bottom:40px;">Our Tennis Discovery Program</h1>
  <h3 class="centered" style="max-width: 300px; margin-bottom: 15px;">
    Led by Joe Norton <img src="images/joeFace.png" class="pull-right imgCircle img-responsive hidden-lg makeSmall centered" style="margin-left: -60px; margin-top:-10px;">
  </h3>
  <div>
    <img src="images/joeFace.png" style="margin-bottom:20px" class="pull-left imgCircle img-responsive visible-lg">
    <h4 class="visible-lg" style="text-align: left;">
      <p style="margin-bottom:5px;">Discovery is for the beginning tennis player to develop the important skills of hand-eye coordination and agility. The program introduces tennis vocabulary and the rules of the game. It is run in a fun and encouraging setting that develops social skills and promotes team spirit.
      <p>The program uses 75% slower foam tennis balls that bounce at a level proportionate to a child’s height to allow better and longer rallies, encouraging the development of all-court games, racquet skills, physical awareness and confidence.</p>
    </h4>
  </div>
</div>

<!-- Even 3 Column Layout -->
<div class="row-level marketing gray centered">
  <div class="col-sm-4 centered">
    <img src="../images/begincircle1.png" alt="Meet New People" class="img-responsive">
    <h2 class="black">Meet New Friends</h2>
    <h4>
      Learn the game with other beginners. Find hitting partners, teammates and even new friends as you perfect your game!
    </h4>
  </div>
  <div class="col-sm-4 centered">
    <img src="../images/begincircle2.png" alt="Meet New People" class="img-responsive">
    <h2 class="black">Learn From Our Fun Pros</h2>
    <h4>
    Our friendly instructors are here to teach you it all. With over 30 years of combined teaching experience, you'll learn the game in no time!
    </h4>
  </div>
  <div class="col-sm-4 centered">
    <img src="../images/begincircle3.png" alt="Meet New People" class="img-responsive">
    <h2 class="black">Get Better Everyday</h2>
    <h4>
      Learn ground strokes, volleys, serves &amp; more in our 13-week,  clinics and begin your tennis journey today!
    </h4>
  </div>
</div>

<div class="line-separator"></div>

<!-- PlaySight Information
<div class="row marketing gray">
  <div class="container-fluid">
    <img src="../images/playsightLogo.png" alt="PlaySight Logo" class="img-responsive imgRounded centered">
    <h3 class="centered">
    Our PlaySight system automatically analyzes and tracks your performance through their interactive website &amp; app. Track your serve speed &amp; accuracy, record your matches and watch them later from your own computer.
    </h3>
  </div>

<div class="line-separator"></div>
<hr>

  <div class="col-xs-4 centered row-level">
    <div class="panel">
      <img src="../images/playsightTerminal.jpg" alt="PlaySight Login Terminal" class="img-responsive imgRounded">
      <h4>Login directly from your court!</h4>
    </div>
  </div>
  <div class="col-xs-8 centered panel">
    <img src="../images/playsightTerminal2.jpg" alt="Meet New People" class="img-responsive imgRounded">
    <h4>PlaySight analyzes and tracks your performance automatically</h4>
  </div>

  <div class="col-sm-12 centered">
    <img src="../images/playsightCourt.jpg" alt="Meet New People" class="img-responsive imgRounded centered">
    <h4>We are still the only Club in New England using PlaySight technology!</h4>
  </div>
</div>
-->
<div class="line-separator"></div>
<hr>

<!-- Page Bottom Signup Form -->

<!-- centered sign up for small screens -->
<div class="col-lg-4 col-lg-offset-4 centered hidden-lg">
  <h1>You've Got to Start Somewhere!</h1>
  <h4>Give our Discovery clinic a shot and see how fun tennis can be. Get started today!</h4>
  <a class="btn btn-lg btn-success" data-toggle="modal" ng-href="#modalForm">Learn More! <span class="glyphicon glyphicon-hand-left"></span></a>
  <div ng-include="'views/signup.html'" ng-controller="MainCtrl"></div>
  <h4>It's never too soon to start playing!</h4>
</div>

<!-- expanded sign up for large screens -->
<div class="row-level visible-lg">
  <div class="col-lg-4">
    <h1>You've Got to Start Somewhere!</h1>
    <h4>Give our Discovery clinic a shot and see how fun tennis can be. Get started today!</h4>
    <a class="btn btn-lg btn-success" data-toggle="modal" ng-href="#modalForm">Learn More! <span class="glyphicon glyphicon-hand-left"></span></a>
    <div ng-include="'views/signup.html'" ng-controller="MainCtrl"></div>
    <h4>It's never too soon to start playing!</h4>
  </div>
  <!-- Image Slick-Carousel -->
  <div class="col-lg-8 row-fluid">

  </div>
</div>
