<!-- Intensity Clinic Signup Banner -->
<div class="jumbotron banner">
  <div class="lead">
    <img src="images/intensityLogo.png" alt="Intensity Logo" class="img-responsive">
    <h1>Discovery Kids Clinic</h1>
    <br>
    Our 13-Week Fall Program Begins Soon!
  </div>
  <a class="btn btn-lg btn-success" data-toggle="modal" ng-href="#modalForm">Learn More! <span class="glyphicon glyphicon-hand-left"></span></a>
  <div ng-include="'views/signup.html'" ng-controller="MainCtrl"></div>
</div>

<div ng-include="'views/clinicInfo.html'" ng-controller="MainCtrl"></div>
